In [13]:
# Q.11399
N = int(input())

P = list(map(int, input().split()))

5
3 1 4 3 2

In [15]:
sorted_P = sorted(P)

In [16]:
sorted_P

[1, 2, 3, 3, 4]

In [29]:
time = 0
add_num = 0

In [30]:
for num in sorted_P:
    add_num += num
    time += add_num
    print('sum num', add_num)
    print('ary , ', num)
    print('result', time)
    print('-'*30)

sum num 1
ary ,  1
result 1
------------------------------
sum num 3
ary ,  2
result 4
------------------------------
sum num 6
ary ,  3
result 10
------------------------------
sum num 9
ary ,  3
result 19
------------------------------
sum num 13
ary ,  4
result 32
------------------------------

In [21]:
time

32

In [36]:
# Q.11399
N = int(input())

P = list(map(int, input().split()))
P.sort()
time, time_ary= 0, []

5
3 1 4 3 2

In [38]:

for i in P:
    time += i
    time_ary.append(time)
print(sum(time_ary))

32

In [39]:
n = int(input())
costs = sorted(map(lambda x: int(x), input().split()))
print(sum(costs[i] * (n-i) for i in range(n)))

5
3 1 4 3 2
32

In [40]:
range(n)

range(0, 5)

In [41]:
costs

[1, 2, 3, 3, 4]

In [48]:
for i in range(n):
    print(costs[i] * (n-i))
    # 0번 인덱스는 5번 들름, 1*5
    # 1번 인덱스는 4번 .. 따라서 2*4
    # 반복

5
8
9
6
4