In [26]:
# Q.2875
female, male, join_num = map(int, input().split())
# female 2, male 1 < team
    # intern > need 2 people _join_num
    
# 먼저 팀의 구성 여2, 남1 의 경우를 최대한으로 구함
    # 잉여인원의 경우를 인턴으로 밈
    # 인턴인원이 부족한 경우, 팀 하나를 쪼개고 여2 남1 비율로 인턴으로 보냄

7 5 4

In [27]:
can_intern = 0
fe_able = female//2
ma_able = male
make_team = min(fe_able, ma_able)
can_intern += female - (make_team*2) + male - (make_team)
        
while True:
    if join_num > can_intern:
        make_team -= 1
        can_intern += 3
    else:
        print(make_team)
        break;

2

In [28]:
a,b,c=map(int,input().split())
print(min(a//2,b,(a+b-c)//3))

7 5 4
2